@model QM.UI.Models.DateDto

@{
    ViewData["Title"] = "Index";
}

<h6>Date difference calculator:</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Post" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="FirstDate">First Date:</label>
                <input asp-for="FirstDate" class="form-control" placeholder="FirstDate:01/01/2000" />
                <span asp-validation-for="FirstDate"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FirstDate">Second Date:</label>
                <input asp-for="SecondDate" class="form-control" placeholder="SecondDate:01/01/2001" />
                <span asp-validation-for="SecondDate"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Result))
{
<div class="alert-info" role="alert">
    @ViewBag.Result
</div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
